@page "/information"

<div class="info-component">
    <div class="main-content">
        <div class="banner">
            <div class="content-container">
                <h5>Telerik UI for Blazor</h5>
                <div>
                    <h1>Ready-to-Use Blazor UI Components</h1>
                    <p>Deliver Blazor Apps in Half the Time with the Telerik Grid‘s 100+ Features</p>
                </div>
                <div class="source-code">
                    <a target="_blank" href="https://github.com/telerik/blazor-ui/tree/master/sample-applications/blazing-coffee">
                        <img src="./img/github-icon.svg" />
                        <span>Get Source Code on GitHub</span>
                    </a>
                </div>
            </div>
            <div class="image-container">
                <img src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/productsimages/kendo-ui-for-angular/blazor-data-grid.svg?sfvrsn=e6446e3b_0" alt="telerik-ui-blazor-header">
            </div>
        </div>
        <div class="component-list">
            <p>This demo application is built using the following Telerik UI for Blazor components.</p>
            <div class="section-3">
                <div>
                    <div class="package-item">
                        <h3 class="package-title">
                            <a target="_blank" rel="noopener noreferrer">Buttons</a>
                        </h3>
                        <ul class="package-items">
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/button/overview">Button</a>
                            </li>
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/buttongroup/overview">ButtonGroup</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="package-item">
                        <h3 class="package-title">
                            <a target="_blank" rel="noopener noreferrer">Charts</a>
                        </h3>
                        <ul class="package-items">
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/chart/overview">Chart</a>
                            </li>
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/chart/bar-chart">Column Bar</a>
                            </li>
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/chart/line-chart">Horizontal Line</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="package-item">
                        <h3 class="package-title">
                            <a target="_blank" rel="noopener noreferrer">Labels</a>
                        </h3>
                        <ul class="package-items">
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/floatinglabel/overview">Floating Label</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="package-item">
                        <h3 class="package-title">
                            <a target="_blank" rel="noopener noreferrer">Date Inputs</a>
                        </h3>
                        <ul class="package-items">
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/daterangepicker/overview">DateRange</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="package-item">
                        <h3 class="package-title">
                            <a target="_blank" rel="noopener noreferrer">Dropdowns</a>
                        </h3>
                        <ul class="package-items">
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/autocomplete/overview">AutoComplete</a>
                            </li>
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/dropdownlist/overview">DropDownList</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="package-item">
                        <h3 class="package-title">
                            <a target="_blank" rel="noopener noreferrer" href="https://demos.telerik.com/blazor-ui/editor/overview">Editor</a>
                        </h3>
                    </div>
                </div>
                <div>
                    <div class="package-item">
                        <h3 class="package-title">
                            <a target="_blank" rel="noopener noreferrer" href="https://demos.telerik.com/blazor-ui/form/overview">Form</a>
                        </h3>
                    </div>
                </div>
                <div>
                    <div class="package-item">
                        <h3 class="package-title">
                            <a target="_blank" rel="noopener noreferrer" href="https://demos.telerik.com/blazor-ui/grid/overview">Grid</a>
                        </h3>
                    </div>
                </div>
                <div>
                    <div class="package-item">
                        <h3 class="package-title">
                            <a target="_blank" rel="noopener noreferrer">Layout</a>
                        </h3>
                        <ul class="package-items">
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/card/overview">Card</a>
                            </li>
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/drawer/overview">Drawer</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="package-item">
                        <h3 class="package-title">
                            <a target="_blank" rel="noopener noreferrer">Inputs</a>
                        </h3>
                        <ul class="package-items">
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/checkbox/overview">Checkbox</a>
                            </li>
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/radiogroup/overview">RadioButton</a>
                            </li>
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/textbox/overview">TextBox</a>
                            </li>
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/textarea/overview">TextArea</a>
                            </li>
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/maskedtextbox/overview">MaskedTextBox</a>
                            </li>
                            <li class="component-link">
                                <a target="_blank"
                                   rel="noopener noreferrer"
                                   href="https://demos.telerik.com/blazor-ui/switch/overview">Switch</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="package-item">
                        <h3 class="package-title">
                            <a target="_blank" rel="noopener noreferrer" href="https://demos.telerik.com/blazor-ui/tooltip/overview">Tooltip</a>
                        </h3>
                    </div>
                </div>
                <div>
                    <div class="package-item">
                        <h3 class="package-title">
                            <a target="_blank"
                               rel="noopener noreferrer"
                               href="https://docs.telerik.com/blazor-ui/styling-and-themes/overview#built-in-themes">Styling and Themes</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/decorations/flows_end_section.svg?sfvrsn=b459055_2" title="flows_end_section" alt="flows_end_section">
</div>