@page "/"

<PageTitle>Static Page</PageTitle>

<h1>Static Page</h1>

<p>
    This sample application shows different ways to use Telerik Blazor components in a <strong>.NET 8 Blazor Web App</strong> project template,
    which has <strong>Server</strong> <em>Render mode</em> and <strong>Per page / component</strong> <em>Interactivity location</em>.
</p>

<Notes PageInteractivity="static" AppInteractivity="static" />
