@page "/"

<h1>Telerik UI for Blazor</h1>

<div class="py-4 row">
    <div class="col-24 col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
        <ul class="nav components-list flex-row">
            <li class="component-item py-4">
                <NavLink class="nav-link" href="button/index">
                    <div class="icon-wrap pb-3">
                        <img src="/images/component-icons/svg/button.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Button
                    </div>
                    <div class="short-description">
                        The Grid allows users to browse, edit, filter, group, sort, select, and export tabular data.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="calendar/index">
                    <div class="icon-wrap pb-3">
                        <img src="/images/component-icons/svg/calendar.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Calendar
                    </div>
                    <div class="short-description">
                        The Grid allows users to browse, edit, filter, group, sort, select, and export tabular data.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="tabstrip/index">
                    <div class="icon-wrap pb-3">
                        <img src="/images/component-icons/svg/tabstrip.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        TabStrip
                    </div>
                    <div class="short-description">
                        The Grid allows users to browse, edit, filter, group, sort, select, and export tabular data.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="grid/index">
                    <div class="icon-wrap pb-3">
                        <img src="/images/component-icons/svg/grid.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Grid
                    </div>
                    <div class="short-description">
                        The Grid allows users to browse, edit, filter, group, sort, select, and export tabular data.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="numerictextbox/index">
                    <div class="icon-wrap pb-3">
                        <img src="/images/component-icons/svg/numerictextbox.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Numeric Textbox
                    </div>
                    <div class="short-description">
                        The Grid allows users to browse, edit, filter, group, sort, select, and export tabular data.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="textbox/index">
                    <div class="icon-wrap pb-3">
                        <img src="/images/component-icons/svg/textbox.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Textbox
                    </div>
                    <div class="short-description">
                        The Grid allows users to browse, edit, filter, group, sort, select, and export tabular data.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="dateinput/index">
                    <div class="icon-wrap pb-3">
                        <img src="/images/component-icons/svg/dateinput.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Date Input
                    </div>
                    <div class="short-description">
                        The Grid allows users to browse, edit, filter, group, sort, select, and export tabular data.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="dropdownlist/index">
                    <div class="icon-wrap pb-3">
                        <img src="/images/component-icons/svg/dropdownlist.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Dropdown List
                    </div>
                    <div class="short-description">
                        The Grid allows users to browse, edit, filter, group, sort, select, and export tabular data.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="animation/index">
                    <div class="icon-wrap pb-3">
                        <img src="/images/component-icons/svg/popover.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Animation Container
                    </div>
                    <div class="short-description">
                        The Grid allows users to browse, edit, filter, group, sort, select, and export tabular data.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="window/index">
                    <div class="icon-wrap pb-3">
                        <img src="/images/component-icons/svg/window.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Window
                    </div>
                    <div class="short-description">
                        The Grid allows users to browse, edit, filter, group, sort, select, and export tabular data.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="chart/index">
                    <div class="icon-wrap pb-3">
                        <img src="/images/component-icons/svg/linecharts.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Chart
                    </div>
                    <div class="short-description">
                        The Grid allows users to browse, edit, filter, group, sort, select, and export tabular data.
                    </div>
                </NavLink>
            </li>
        </ul>
    </div>
</div>

