@page "/"

<h1>Telerik UI for Blazor</h1>

<div class="py-4 row">
    <div class="col-24 col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
        <ul class="nav components-list flex-row">
            <li class="component-item py-4">
                <NavLink class="nav-link" href="grid/index">
                    <div class="icon-wrap pb-3">
                        <img src="images/component-icons/svg/grid.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Grid
                    </div>
                    <div class="short-description">
                        The Grid allows you to browse, sort and edit tabular data.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="chart/index">
                    <div class="icon-wrap pb-3">
                        <img src="images/component-icons/svg/linecharts.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Charts
                    </div>
                    <div class="short-description">
                        The Charts allow you to visualize and output graphical representations of data.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="dropdownlist/index">
                    <div class="icon-wrap pb-3">
                        <img src="images/component-icons/svg/dropdownlist.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        DropDownList
                    </div>
                    <div class="short-description">
                        The DropDownList allows you to select an item from a list of predefined values.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="window/index">
                    <div class="icon-wrap pb-3">
                        <img src="images/component-icons/svg/window.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Window
                    </div>
                    <div class="short-description">
                        The Window displays content HTML window which can be modal.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="button/index">
                    <div class="icon-wrap pb-3">
                        <img src="images/component-icons/svg/button.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Button
                    </div>
                    <div class="short-description">
                        The Button allows you to invoke a UI functionality by clicking on it.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="tabstrip/index">
                    <div class="icon-wrap pb-3">
                        <img src="images/component-icons/svg/tabstrip.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        TabStrip
                    </div>
                    <div class="short-description">
                        The TabStrip displays a collection of tabs with associated content.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="numerictextbox/index">
                    <div class="icon-wrap pb-3">
                        <img src="images/component-icons/svg/numerictextbox.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Numeric TextBox
                    </div>
                    <div class="short-description">
                        The NumericTextBox lets you submit only numeric values by typing or by using the spin buttons.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="calendar/index">
                    <div class="icon-wrap pb-3">
                        <img src="images/component-icons/svg/calendar.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Calendar
                    </div>
                    <div class="short-description">
                        The Calendar component allows you to select one or more dates.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="dateinput/index">
                    <div class="icon-wrap pb-3">
                        <img src="images/component-icons/svg/dateinput.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Date Input
                    </div>
                    <div class="short-description">
                        The DateInput allows you to enter only a date in a predefined format.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="datepicker/index">
                    <div class="icon-wrap pb-3">
                        <img src="images/component-icons/svg/datepicker.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Date Picker
                    </div>
                    <div class="short-description">
                        The DatePicker allows you to choose a date with a combination of a date input and a popup calendar.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="textbox/index">
                    <div class="icon-wrap pb-3">
                        <img src="images/component-icons/svg/textbox.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        TextBox
                    </div>
                    <div class="short-description">
                        The TextBox component provides the possibility to enter a generic plain text message.
                    </div>
                </NavLink>
            </li>
            <li class="component-item py-4">
                <NavLink class="nav-link" href="animationcontainer/index">
                    <div class="icon-wrap pb-3">
                        <img src="images/component-icons/svg/popover.svg" width="48" />
                    </div>
                    <div class="component pb-2">
                        Animation Container
                    </div>
                    <div class="short-description">
                        The Animation Container component allows you to create messages as notifications.
                    </div>
                </NavLink>
            </li>
        </ul>
    </div>
</div>

