@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<div style="height: 2000px; width: 2000px; background: yellow;">
    <p>This box represents content that overflows the page.</p>
    <p>Scroll on the X & Y axis, notice the navigation is sticky.</p>
</div>