@page "/"

<p>This sample project demonstrates two examples for a button click confirmation:</p>
<ul>
    <li>Simple "confirmable" button on a component in the <NavLink href="/counter">Counter</NavLink> component</li>
    <li>Two ways to integrate confirmation with a Delete button in a grid in the <NavLink href="/fetchdata">Fetch Data</NavLink> component</li>
</ul>
