<h3>FirstComponent</h3>

<TelerikButton OnClick="@ShowNotification">Show Notification from First Component</TelerikButton>

<SecondComponent></SecondComponent>

@code {
    [CascadingParameter]
    protected Notification Notification { get; set; }

    void ShowNotification()
    {
        Notification.Instance.Show(new NotificationModel()
        {
            Text = "From FIRST Component",
            ThemeColor = ThemeConstants.Notification.ThemeColor.Primary,
            CloseAfter = 0,
            Closable = false
        });
    }
}
