<h3>FirstComponent</h3>

<button @onclick="@ShowNotification">Show Notification from First Component</button>

<SecondComponent></SecondComponent>

@code {
    [CascadingParameter]
    protected Notification Notification { get; set; }

    void ShowNotification()
    {
        Notification.Instance.Show(new NotificationModel()
        {
            Text = "From First Component",
            ThemeColor = ThemeColors.Primary,
            CloseAfter = 0,
            Closable = false
        });
    }
}
