<h3>SecondComponent</h3>


<TelerikButton OnClick="@ShowNotification">Show Notification from Second Component</TelerikButton>

@code {
    [CascadingParameter]
    protected Notification Notification { get; set; }

    void ShowNotification()
    {
        Notification.Instance.Show(new NotificationModel()
        {
            Text = "From SECOND Component",
            ThemeColor = ThemeConstants.Notification.ThemeColor.Warning,
            CloseAfter = 0,
            Closable = false
        });
    }
}
