@page "/grid/incellediting"

@using Telerik.Blazor.Components.Grid
@using TelerikBlazor.Shared

<span>OnUpdate event prevent update of item if the value length &lt; 3</span>
<TelerikGrid Data=@GridData EditMode="incell"
           Pageable="true" PageSize=@PageSize>
    <TelerikGridEvents>
        <EventsManager OnUpdate="OnUpdate"></EventsManager>
    </TelerikGridEvents>
    <TelerikGridColumns>
        <TelerikGridColumn Field=@nameof(Product.ProductName) Title="Product Name" />
        <TelerikGridColumn Field=@nameof(Product.UnitPrice) Title="Unit Price" />
        <TelerikGridColumn Field=@nameof(Product.UnitsInStock) Title="Units In Stock" />
    </TelerikGridColumns>
</TelerikGrid>

@functions {
    public IEnumerable<Product> GridData { get; set; }
    int PageSize = 15;
    
    protected override void OnInit()
    {
        List<Product> products = new List<Product>();
        for (int i = 0; i < 100; i++)
        {
            products.Add(new Product()
            {
                ProductId = i,
                ProductName = "Product" + i.ToString(),
                SupplierId = i,
                UnitPrice = (decimal)(i * 3.14),
                UnitsInStock = (short)(i * 1),
            });
        }

        GridData = products.AsQueryable();
    }

    public void OnUpdate(GridCommandEventArgs args)
    {
        if (args.Value.ToString().Length < 3)
        {
            args.IsCancelled = true;
        }
    }
}
