@page "/grid/inlineediting"

@using Telerik.Blazor
@using Telerik.Blazor.Components.Grid
@using TelerikBlazor.Shared

<span>Edit is cancelled for Product 1</span>
<TelerikGrid Data=@GridData EditMode="inline"
           Pageable="true" PageSize=@PageSize>
    <TelerikGridToolBar>
        <TelerikGridCommandButton Command="Create" Icon="add">Add Product</TelerikGridCommandButton>
    </TelerikGridToolBar>
    <TelerikGridColumns>
        <TelerikGridColumn Field=@nameof(Product.ProductName) Title="Product Name" />
        <TelerikGridColumn Field=@nameof(Product.UnitPrice) Title="Unit Price" />
        <TelerikGridColumn Field=@nameof(Product.UnitsInStock) Title="Units In Stock" />
        <TelerikGridCommandColumn>
            <TelerikGridCommandButton Command="Edit" Icon="edit" OnClick="TriggerEdit">Edit</TelerikGridCommandButton>
            <TelerikGridCommandButton Command="Delete" Icon="delete">Delete</TelerikGridCommandButton>
            <TelerikGridCommandButton Command="Update" Icon="save" ShowInEdit="true" OnClick="UpdateItem">Update</TelerikGridCommandButton>
            <TelerikGridCommandButton Command="Cancel" Icon="cancel" ShowInEdit="true" OnClick="CancelItem">Cancel</TelerikGridCommandButton>
        </TelerikGridCommandColumn>
    </TelerikGridColumns>
</TelerikGrid>

@functions {
    public IEnumerable<Product> GridData { get; set; }
    public Product ProductToEdit { get; set; }
    int PageSize = 15;

    protected override void OnInit()
    {
        List<Product> products = new List<Product>();
        for (int i = 0; i < 100; i++)
        {
            products.Add(new Product()
            {
                ProductId = i,
                ProductName = "Product" + i.ToString(),
                SupplierId = i,
                UnitPrice = (decimal)(i * 3.14),
                UnitsInStock = (short)(i * 1),
            });
        }

        GridData = products.AsQueryable();
    }

    private void TriggerEdit(GridCommandEventArgs args)
    {
        var product = (args.Item as Product);

        if (product.ProductName == "Product1")
        {
            args.IsCancelled = true;
        }
    }
    private void UpdateItem(GridCommandEventArgs args)
    {
    }
    private void CancelItem(GridCommandEventArgs args)
    {
    }
}
