@page "/window/actions"

@using Telerik.Blazor
@using Telerik.Blazor.Components.Window

<span>Window support predefined actions - Maximize Minimize and Close - as well as custom ones.</span>

<TelerikWindow ref="@Wnd" Size="@Size.Small" Centered="true" Visible="true" Width="400">
    <TelerikWindowTitle>
        <strong>Status</strong>
    </TelerikWindowTitle>
    <TelerikWindowActions>
        <TelerikWindowAction Name="Minimize"></TelerikWindowAction>
        <TelerikWindowAction Name="Maximize"></TelerikWindowAction>
        <TelerikWindowAction Name="Close"></TelerikWindowAction>
        <TelerikWindowAction Name="Custom" Icon="@IconName" OnClick="CustomAction"></TelerikWindowAction>
    </TelerikWindowActions>
    <TelerikWindowContent>
        <form class="k-form">
            <fieldset>
                <legend>User Details</legend>

                <label class="k-form-field">
                    <span>First Name</span>
                    <input class="k-textbox" placeholder="Your Name" />
                </label>
                <label class="k-form-field">
                    <span>Last Name</span>
                    <input class="k-textbox" placeholder="Your Last Name" />
                </label>
            </fieldset>
        </form>
    </TelerikWindowContent>
</TelerikWindow>

@functions {
    public TelerikWindow Wnd { get; set; }
    public string IconName { get; set; } = "edit";
    TelerikWindowAction action = new TelerikWindowAction
    {
        Name = "Cancel",
        Icon = "cancel"
    };
    public void CustomAction()
    {
        IconName = IconName == "edit" ? "save" : "edit";

        if (Wnd.ActionCollection.Find(a => a.Name == "Cancel") != null)
        {
            Wnd.RemoveAction(action);
        }
        else
        {
            Wnd.AddAction(action);
        }

        StateHasChanged();
    }
}

<style type="text/css">
    .example-wrapper {
        min-height: 500px;
        position: relative;
    }
</style>