<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TelerikBlazorGrid-Dapper.Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Products
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/sales" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sales
            </NavLink>
            <ul>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/product/1/sales" Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Sales for p1
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/product/2/sales" Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Sales for p2
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/product/3/sales" Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Sales for p3
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/product/4/sales" Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Sales for p4
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/product/5/sales" Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Sales for p5
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/product/6/sales" Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Sales for p6
                    </NavLink>
                </li>
            </ul>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
