@page "/numerictextbox/formats"
@using TelerikBlazor.Shared


<div class="box-content">

    <h4>General Number Format</h4>

    <TelerikNumericTextBox Decimals="4" Max="5" Value="4.56m"></TelerikNumericTextBox>

    <h4>Currency Format</h4>

    <TelerikNumericTextBox Decimals="2" Format="C" Step="0.5m" Value="4.56m"></TelerikNumericTextBox>

    <h4>Percentage</h4>

    <TelerikNumericTextBox Decimals="4" Format="P" Value="4.5678m"></TelerikNumericTextBox>

    <h4>Custom Format</h4>

    <TelerikNumericTextBox Decimals="2" Format="#.00 kg" Value="4.56m"></TelerikNumericTextBox>

</div>