@page "/numerictextbox/index"
@using Telerik.Blazor.Components.NumericTextBox

<h4>General Number Format</h4>

<TelerikNumericTextBox Decimals="4" Max="5" Min="-5" Step="0.5m" Value="4.56789m"></TelerikNumericTextBox>

<h4>Currency Format</h4>

<TelerikNumericTextBox Decimals="2" Format="C" Max="5" Min="-5" Step="0.5m" Value="4.56789m"></TelerikNumericTextBox>

<h4>Percentage</h4>

<TelerikNumericTextBox Decimals="4" Format="P" Max="5" Min="-5" Step="0.5m" Value="4.56789m"></TelerikNumericTextBox>

<h4>Custom Format</h4>

<TelerikNumericTextBox Decimals="2" Format="#.00 kg" Max="5" Min="-5" Step="0.5m" Value="4.56789m"></TelerikNumericTextBox>

<h4>Arrow Display</h4>
<TelerikNumericTextBox Arrows=@hasArrows Decimals="4" Step="0.5m" Value="4.56789m"></TelerikNumericTextBox>
<label for="toggleArrows">Toggle Arrows &nbsp;</label><input id="toggleArrows" type="checkbox" bind=@hasArrows />


@functions {
    private bool hasArrows;
}



