@page "/numerictextbox/validation"
@using Telerik.Blazor.Components.NumericTextBox
@using System.ComponentModel.DataAnnotations
@using TelerikBlazor.Shared

<h4>Validation</h4>

<EditForm Model="@validationModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary></ValidationSummary>

    <TelerikNumericTextBox bind-Value="@validationModel.AgeInYears"></TelerikNumericTextBox>

    <button class="k-button" type="submit">Submit</button>
</EditForm>

<p>
    @SuccessMessage
</p>


@functions {
    class NumericValidationModel
    {
        [Required(ErrorMessage = "Enter an int age")]
        [Range(0, 200, ErrorMessage = "Nobody is that old")]
        public int? AgeInYears { get; set; }
    }

    NumericValidationModel validationModel = new NumericValidationModel();

    string SuccessMessage = string.Empty;

    void HandleValidSubmit()
    {
        SuccessMessage = "Form Submitted Successfully!";
    }
}



