@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.<br />

This page does not use Telerik components, use the sidenav menu to go to the page that does and load the Telerik assemblies on demand.