@page "/grid/sorting"

@using TelerikBlazor.App.Services
@using TelerikBlazor.App.Models

@inject WeatherForecastService ForecastService
@inject NorthwindContext nwContext

<h4> Sortable </h4>

<KendoGrid Data=@GridData
           Height=@Height
           Sortable=@Sortable>
    <KendoGridColumn Field=@nameof(Product.ProductId)></KendoGridColumn>
    <KendoGridColumn Field=@nameof(Product.ProductName)></KendoGridColumn>
    <KendoGridColumn Field=@nameof(Product.UnitPrice)>
        <Template>
            @(String.Format("{0:C2}", (context as Product).UnitPrice))
        </Template>
    </KendoGridColumn>
</KendoGrid>

@functions {
    public IQueryable<Product> GridData { get; set; }
    bool Sortable = true;
    decimal Height = 400;

    protected override async Task OnInitAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        GridData = await Task.FromResult(nwContext.Products.AsQueryable());
    }
}
