<div class="k-button-group">
    <NavLink href="" 
             Match="@NavLinkMatch.All" 
             ActiveClass="@ActiveClass" 
             class="k-button k-button-solid k-button-md k-button-rectangle k-rounded-md k-button-solid-base k-group-start">
        Result List
    </NavLink>
    <NavLink href="real-time" 
             Match="@NavLinkMatch.All"
             ActiveClass="@ActiveClass"
             class="k-button k-button-solid k-button-md k-button-rectangle k-rounded-md k-button-solid-base k-group-end">
        Data Virtualization
    </NavLink>
</div>
@code{
    string ActiveClass = "k-active k-button-solid-primary";
}