<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">.NET 8 Blazor Web App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Static Page
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interactive-page">
                Interactive Page
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="islands">
                Interactive Islands
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interactive-app">
                Interactive App
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interactive-page-empty-layout">
                Page with Empty Layout
            </NavLink>
        </div>
    </nav>

    <Island Name="Cuba" />
</div>
