@using System.Globalization
@inject IJSRuntime JS
@inject NavigationManager Navigation

<label style="color:red">
    Select your locale:
    <select @bind="@SelectedCulture" @bind:after="@ApplySelectedCulture">
        @foreach (var culture in SupportedCultures)
        {
            <option value="@culture">@culture.DisplayName</option>
        }
    </select>
</label>

@code
{
    private CultureInfo[] SupportedCultures = new[]
    {
        new CultureInfo("en-US"),
        new CultureInfo("bg-BG"),
    };

    private CultureInfo? SelectedCulture;

    protected override void OnInitialized()
    {
        SelectedCulture = CultureInfo.CurrentCulture;
    }

    private void ApplySelectedCulture()
    {
        if (SelectedCulture != null && CultureInfo.CurrentCulture != SelectedCulture)
        {
            var uri = new Uri(Navigation.Uri)
                .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
            var cultureEscaped = Uri.EscapeDataString(SelectedCulture.Name);
            var uriEscaped = Uri.EscapeDataString(uri);

            Navigation.NavigateTo(
                $"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}",
                forceLoad: true);
        }
    }
}
