@page "/"

@using PrintChartOnly.Components

<div class="alert alert-info">Hover over a chart to get a button that will print it.</div>

<PrintableChart SeriesType="@ChartSeriesType.Bar" />
<PrintableChart SeriesType="@ChartSeriesType.Line" />
<PrintableChart SeriesType="@ChartSeriesType.Area" />