@inherits LayoutComponentBase

<TelerikRootComponent>
    <div class="main">
        <div class="top-row px-4">
            <NavMenu />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</TelerikRootComponent>