@page "/tabs"

<h2>LoaderContainer in individual components</h2>


<TelerikTabStrip>
    <TabStripTab Title="First">
       <IndividualTabWithLoader Id="1" />
    </TabStripTab>
    <TabStripTab Title="Second">
        <IndividualTabWithLoader Id="2" />
    </TabStripTab>
    <TabStripTab Title="Third">
        <IndividualTabWithLoader Id="3" />
    </TabStripTab>
</TelerikTabStrip>