.docs-wrapper {
    height: 50vh;

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    a {
        color: $link-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline !important;
        }
    }
}
