.k-drawer-container {
    background-color: var(--kendo-color-app-surface);
    height: auto;

    .k-drawer {
        box-shadow: var(--kendo-elevation-4);
        border-right-width: 0 !important;
    }
}

.k-drawer-items {
    & .title {
        display: none; // hide from mini-mode, use .k-drawer-expanded to enable.
        text-transform: uppercase;
        font-size: 1em;
        padding: var(--kendo-spacing-4);
        font-weight: bold;
        color: var(--kendo-color-info);
    }

    & > header {
        display: none; // hide from mini-mode, use .k-drawer-expanded to enable.
        flex-direction: column;
        align-items: center;
        padding: var(--kendo-spacing-4);

        & > img {
            border: 2px solid var(--kendo-color-success);
            margin: var(--kendo-spacing-4);
            max-width: 96px;
        }
    }
}

/*  Here we capture if the drawer is expanded.
    If the drawer is in mini-mode, these items
    are hidden by default.
*/
.k-drawer-expanded .k-drawer-items {
    & > header, & .title {
        display: flex;
    }
}
