// Header
.header {
    height: 72px;
    background-image: url('/blazor-coffee/img/header-bg.png');
    background-blend-mode: luminosity;
    background-color: $primary;

    .nav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        color: $primary-contrast;
        padding: 0 var(--kendo-spacing-6);
    }

    .menu-button,
    .settings {
        flex: 0 0 48px;
        text-align: center;
    }

    .menu-button .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    .title {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        align-items: flex-start;
        margin-left: var(--kendo-spacing-4);

    }

    .k-button {
        border: none;
        background-color: transparent;
        background-image: none;
        color: $primary-contrast;
    }

    .k-button:hover {
        background-color: transparent;
    }

    .k-avatar {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 var(--kendo-spacing-6);
        box-shadow: var(--kendo-elevation-1);

        img {
            width: 40px;
            height: 40px;
        }
    }
}

@media (max-width: 767.98px) {
    .header {
        height: 64px;

        .nav-container {
            padding: 0 var(--kendo-spacing-4);
        }

        .title {
            margin-left: var(--kendo-spacing-2);

        }
    }
}

@media (min-width: 768px) {
    .header {
        .title {
            flex-direction: row;
            align-items: center;
        }

        .vl {
            border-left: 1px solid var(--kendo-color-on-primary);
            height: 25px;
            margin: var(--kendo-spacing-1\.5) var(--kendo-spacing-4);
        }
    }
}
