body {
    font-family: var(--kendo-font-family);
}

h1 {
    font-size: var(--kendo-font-size-xl);
    font-weight: var(--kendo-font-weight-normal);
}
h2 {
    font-size: var(--kendo-font-size-lg);
    font-weight: var(--kendo-font-weight-light);
}
h3 {
    font-size: var(--kendo-font-size-xl);
    font-weight: var(--kendo-font-weight-normal);
}
h4 {
    font-size: var(--kendo-font-size-xl);
}
h5 {
    font-size: var(--kendo-font-size-xl);
}
p {
    font-size: var(--kendo-font-size-lg);
}
a {
    font-size: var(--kendo-font-size-lg);
}

@media (min-width: 480px) {
    h1 {
        font-size: 1.5rem;
        font-weight: 400;
    }
    h2 {
        font-size: 1.25rem;
        font-weight: 200;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 1.75rem;
        font-weight: 400;
    }
    h2 {
        font-size: 1.75rem;
        font-weight: 200;
    }
}
