// Global variables here

$base-theme: Default;
$skin-name: MINTY-DASHBOARD;
$swatch-name: Default;
$border-radius: 2px;
$primary: #7378d9;
$info: #528dee;
$success: #5abf90;
$warning: #ffd452;
$error: #F26666;
$text-color: #060E40;
$body-bg: #F2F2F2;
$body-text: #060E40;
$base-bg: #F2F2F2;
$hovered-text: #060E40;
$hovered-bg: #F2F2F2;
$selected-text: #F2F2F2;
$selected-bg: #528dee;
$series-a: #F26666;
$series-b: #ffd452;
$series-c: #5abf90;
$series-d: #52bdee;
$series-e: #528dee;
$series-f: #7378d9;
$background-color: scale-color($primary, $saturation: -55%, $lightness: 65%);
$checkbox-bg: #ffffff;
$link-color: $info;
$primary-contrast: #fff;
$base-bg: #fff;

$isDarkTheme: false !default;
@if ($isDarkTheme) {
    $text-color: #ffffff;
    $body-bg: #2f3640;
    $body-text: #ffffff;
    $base-bg: #282f36;
    $hovered-text: #ffffff;
    $hovered-bg: #40444f;
    $selected-text: #ffffff;
    $selected-bg: #528dee;
    $background-color: scale-color($primary, $saturation: -55%, $lightness: 25%);
    $checkbox-bg: #f5f5f5;
}


$tiger-team: $error;
$lemon-team: $warning;
$organic-team: $success;
$ocean-team: $primary;

$pager-number-selected-opacity: 1;
$pager-number-selected-bg: rgba($primary, $pager-number-selected-opacity);
$pager-number-selected-text: $body-bg;
