<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Telerik Blazor Stocks Portfolio</title>
    <base href="/blazor-financial-portfolio/" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <link id="theme" href="https://blazor.cdn.telerik.com/blazor/8.1.0/kendo-theme-bootstrap/all.css" rel="stylesheet" />
    <script src="_content/Telerik.UI.for.Blazor.Trial/js/telerik-blazor.js"></script>
    <link href="manifest.json" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="default-icon-512x512.png" />

    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <HeadOutlet @rendermode="@RenderMode.InteractiveWebAssembly" />
</head>

<body>
    <app>
        <div class="loading-section">
            <h2>Telerik Blazor Stocks Portfolio</h2>
            <div class="short-description">You can review and manage your stocks and their performance. Please wait while the app initializes.</div>
            <div class="loader mt-5">
                <div class="loader-dot dot1"></div>
                <div class="loader-dot dot2"></div>
                <div class="loader-dot dot3"></div>
            </div>
        </div>
    </app>

    <div id="blazor-error-ui" class="alert alert-warning text-center py-3">
        An error has occurred. This application may no longer respond until reloaded.
        <div class="pt-3">
            <a href class="reload btn-warning p-2"><span class="k-icon k-i-reload"></span> Reload</a>
        </div>
    </div>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/BlazorPro.BlazorSize/blazorSize.min.js"></script>
    <script>navigator.serviceWorker.register('service-worker.js');</script>
    <script src="custom-install-prompt.js"></script>
    <script>
        function toggleScroll(shouldScroll) {
            var scrollValue = shouldScroll ? "auto" : "hidden";
            document.body.style.overflowY = scrollValue;
        }
    </script>
</body>

</html>
