<select class="form-control d-inline" onchange=@HandleThemeChange>
    @foreach (var t in themes)
    {
        <option value=@t>@t</option>
    }
</select>

@functions {
    string[] themes = { "Default", "Bootstrap", "Material" };

    async void HandleThemeChange(UIChangeEventArgs e)
    {
        string themePath = $"css/kendo-themes/{e.Value}/all.css".ToLower();
        await Microsoft.JSInterop.JSRuntime.Current.InvokeAsync<string>("theme.changeCss", themePath);
    }
}