@page "/animationcontainer/notification"
@using Telerik.Blazor
@using Telerik.Blazor.Components.AnimationContainer


<TelerikButton OnClick="@Show">Show Notification</TelerikButton>

<div style="position: absolute; top: 50%; left: 50%">
    <TelerikAnimationContainer Width=300 Height=200 Visible=@Visible AnimationType=@AnimationType.Fade>
        <div class="k-widget k-popup k-notification k-notification-info">
            <div class="new-mail">
                <img src="https://demos.telerik.com/kendo-ui/content/web/notification/envelope.png">
                <h3>New E-mail</h3>
                <p>You have 1 new mail message!</p>
            </div>
        </div>
    </TelerikAnimationContainer>
</div>

@functions {
    public bool Visible { get; set; } = false;

    public async void Show(UIMouseEventArgs args)
    {
        Visible = true;
        StateHasChanged();

        await Task.Delay(2000);
        Visible = false;
        StateHasChanged();
    }
}

<style type="text/css">

    .example-wrapper {
        min-height: 200px;
        position: relative;
    }
</style>