@page "/calendar/index"
@using Telerik.Blazor
@using Telerik.Blazor.Components.Calendar

<TelerikCalendar Min="@min"
                 Max="@max"
                 ValueChanged="@MyValueChangeHandler"
                 BottomView="@CalendarView.Year"
                 View="CalendarView.Decade">
</TelerikCalendar>

<div class="pt-4">The selected date is: @selectedDate?.ToString("MMM yyyy")</div>

@functions {

    private DateTime min = new DateTime(2015, 1, 1);
    private DateTime max = new DateTime(2025, 12, 31);
    private DateTime? selectedDate;

    private void MyValueChangeHandler(DateTime newValue)
    {
        selectedDate = newValue;
        StateHasChanged();
    }
}
