<h3>My Window</h3>

@using Telerik.SvgIcons
<TelerikButton Icon="@SvgIcon.Window" OnClick=@(()=> WindowVisible = true)>Open Modal</TelerikButton>

<TelerikRootComponent>
    <TelerikWindow Class="demo-window" Width="500px" Height="300px" @bind-Visible=@WindowVisible Modal="true">
        <WindowTitle>
            <strong>Modal Window</strong>
        </WindowTitle>
        <WindowActions>
            <WindowAction Name="Close" />
        </WindowActions>
        <WindowContent>
            <p>Click the close button to dismiss this modal dialog.</p>
        </WindowContent>
    </TelerikWindow>
</TelerikRootComponent>

@code {
    protected bool WindowVisible { get; set; }
}