@page "/"

<FirstComponent></FirstComponent>

<h3>Index Page</h3>

<TelerikButton OnClick="@ShowNotification">Show Notification from Index Page</TelerikButton>

@code {
    [CascadingParameter]
    protected Notification Notification { get; set; }

    void ShowNotification()
    {
        Notification.Instance.Show(new NotificationModel()
        {
            Text = "From INDEX page. Go to the Counter page and click the Button there too.",
            ThemeColor = ThemeConstants.Notification.ThemeColor.Success,
            CloseAfter = 0,
            Closable = true
        });
    }
}
