@page "/"

<OneNotificationPerApp.Components.FirstComponent></OneNotificationPerApp.Components.FirstComponent>

<h3>Index Page</h3>

<button @onclick="@ShowNotification">Show Notification from Index Page</button>

@code {
    [CascadingParameter]
    protected MainLayout layoutRef { get; set; }

    void ShowNotification()
    {
        layoutRef.ShowNotification(new NotificationModel()
        {
            Text = "From Index Page. Go to the Counter Page and try the button there too",
            ThemeColor = ThemeColors.Success,
            CloseAfter = 0,
            Closable = true
        });
    }
}