html,
body {
    font-family: Roboto, sans-serif;
}

h1:focus {
    outline: none;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}


/* TELERIK STYLES */

/* Theme Variable Overrides */

:root {
    --kendo-h1-font-size: 32px;
    --kendo-h2-font-size: 20px;
    --kendo-font-size-md: 18px;
}

.k-grid .k-chip {
/*    --kendo-color-success-subtle: var(--kendo-color-success-emphasis);
    --kendo-color-warning-subtle: var(--kendo-color-warning-emphasis);
    --kendo-color-error-subtle: var(--kendo-color-error-emphasis);
    --kendo-color-success-on-subtle: var(--kendo-color-on-success);
    --kendo-color-warning-on-subtle: var(--kendo-color-on-success);
    --kendo-color-error-on-subtle: var(--kendo-color-on-success);*/
    font-size: var(--kendo-font-size-xs);
}

/* Overall Layout and Drawer */

body {
    min-height: 100vh;
    margin: 0;
}

.mainlayout-drawer {
    flex: 1;
    align-items: stretch;
    overflow: hidden;
}

.mainlayout-drawer .k-drawer {
    border-right: 1px solid var(--kendo-color-border);
}

/* Top AppBar */

div.appbar-top {
    box-shadow: none;
    padding-block: var(--kendo-spacing-6\.5);
    padding-inline: var(--kendo-spacing-15);
}

.search-textbox.k-input {
    border-bottom-right-radius: var(--kendo-border-radius-lg) !important;
    border-bottom-left-radius: var(--kendo-border-radius-lg) !important;
    border-width: 0;
    min-width: 150px;
    max-width: 360px;
    width: 25vw;
}

.greeting {
    display: flex;
    gap: var(--kendo-spacing-3);
    align-items: center;
    width: max-content;
    line-height: 1.4;
}

.greeting > span {
    display: flex;
    flex-direction: column;
}

.greeting strong {
    font-size: var(--kendo-font-size-xl);
}

/* Main Content */

#drawer-content-wrapper {
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: calc(var(--kendo-spacing-4, 1rem)*2 + 16px);
}

main {
    flex: 1 1 auto;
    margin-top: var(--kendo-spacing-5);
    padding-inline: var(--kendo-spacing-15);
}

main:has(h1:first-child) {
    grid-template-rows: min-content;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: normal;
    line-height: var(--kendo-line-height-sm);
}

h1 {
    font-size: var(--kendo-h1-font-size);
    letter-spacing: 1px;
    grid-column: span 12/span 12;
}

h2 {
    font-size: var(--kendo-h2-font-size);
}

.card-subtitle {
    font-size: var(--kendo-font-size-lg);
    line-height: var(--kendo-line-height-sm);
    letter-spacing: 1px;
}

.progressbar-wrapper > div:first-child {
    font-size: var(--kendo-font-size-lg);
    line-height: var(--kendo-line-height-sm);
    letter-spacing: 1px;
}

.progressbar-wrapper + .progressbar-wrapper {
    margin-top: var(--kendo-spacing-2);
}

.k-arcgauge .center-label {
    margin-bottom: -0.8em;
    color: var(--kendo-color-series-b);
    font-size: 2em;
}

.k-grid th.k-table-th {
    border-inline-start-color: inherit;
}

.k-grid .centered-header .k-cell-inner>.k-link {
    justify-content: center;
}

.k-grid .right-header .k-cell-inner>.k-link {
    justify-content: end;
}

.uicard .k-form-layout > .k-form-field:first-child,
.uicard .k-form-layout.k-grid-cols-2 > .k-form-field:first-child + .k-form-field {
    margin-top: 0;
}

.ai-prompt textarea {
    min-height: 4em;
}

.k-badge.inline-badge {
    position: static;
    transform: none;
}

/* Bottom AppBar */

div.appbar-bottom {
    z-index: 1;
    background-color: var(--kendo-color-surface);
    color: var(--kendo-color-subtle);
    line-height: 1.4;
}

div.appbar-bottom.narrow {
    margin-inline: var(--kendo-spacing-15);
}

.appbar-bottom a:not(:hover) {
    text-decoration: none;
}

/* AI Assistant */

.header-cursor-pointer .k-panelbar-header > .k-link {
    cursor: pointer;
}

/* Investements */

.asset {
    line-height: 1.5;
}

.no-content-padding .k-tabstrip-content {
    padding-inline: 0;
}

/* Settings */

div.centered-calendar {
    margin: 0 auto;
    width: 100%;
}