<div class="alert alert-danger">The CSS rules depend on the app layout and will vary between projects</div>

<div class="alert alert-info">Try scrolling to see the difference between the pages</div>

<div style="height: 2000px; background: yellow;">I am very tall content to generate scrollbars in the layout</div>