<div class="alert alert-info">Scroll down to the button that opens a window and the context menu target so you can show them.</div>

<div class="alert alert-danger">The CSS rules depend on the app layout and will vary between projects</div>

<div style="height: 2000px; background: aliceblue;">I am very tall content to generate scrollbars in the layout</div>