@page "/allowed-scroll"

<h1>This page does not define CSS rules for the layout size so the scrollbars appear high in the DOM and you can scroll the page "behind" the window when it is maximized.</h1>

<TheWindow />

<DummyContent />

<TheWindow />