@page "/about"

<div id="about" class="k-d-flex-col k-justify-content-between k-align-items-start" style="margin:2em; width:60%;">
    <h2>Telerik Admin Dashboard</h2>
    <br/>
    <p>
        Telerik Admin Dashboard is a web app built with Progress <a href="https://www.telerik.com/blazor-ui">Telerik UI for Blazor components</a> - UI components to help you build responsive websites and apps fast. Telerik UI for Blazor<sup>®</sup> offers components for every need - from the must-have for every app Grids, Dropdowns and Menus to the advanced line-of-business UI, such as Charts, Gantt, ListView, Scheduler.
    </p>

    <p>
        The sample app showcases some of the most popular Telerik UI for Blazor components, such as Grid, TileLayout, Form, Charts, Gauges, etc. in a real world scenario.
    </p>
    <p>
        <div class="section-white">
            <h3 class="section-title">Telerik UI for Blazor components</h3>
            <ul class="col-xs-4">
                <li>
                    <a href="https://demos.telerik.com/blazor-ui/grid/overview">Grid</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/blazor-ui/chart/overview">Charts</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/blazor-ui/tilelayout/overview">TileLayout</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/blazor-ui/drawer/overview">Drawer</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/blazor-ui/form/overview">Form</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/blazor-ui/listview/overview">ListView</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/blazor-ui/circulargauge/overview">Circular Gauge</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/blazor-ui/calendar/overview">Calendar</a>
                </li>
            </ul>
        </div>
    </p>
</div>