@inherits LayoutComponentBase
@inject Microsoft.AspNetCore.Components.Services.IUriHelper UriHelper
@using Microsoft.JSInterop;
@inject IJSRuntime JsRuntime;

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row d-flex flex-row-reverse">
        <div class="p-2">
            <NavLink class="nav-link" href="https://themebuilder.telerik.com/" Match=NavLinkMatch.All>
                ThemeBuilder
            </NavLink>
        </div>
        <div class="p-2">
            <ThemeManager />
        </div>

    </div>

    <div class="content px-4">
        @Body
        <div id="codecontainer">
        </div>
    </div>

</div>
@functions {

    protected override void OnInit()
    {
        UriHelper.OnLocationChanged += OnLocationChanged;
    }

    private async void OnLocationChanged(object sender, string newUriAbsolute)
    {
        if (newUriAbsolute.Contains("//"))
        {
            string[] parts = newUriAbsolute.Split(new char[] {'/'});
            await JsRuntime.InvokeAsync<string>("codeManager.renderCode", string.Format("/{0}/{1}", parts[parts.Length-2], parts[parts.Length-1]));
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        UriHelper.OnLocationChanged -= OnLocationChanged;
    }
}
