@using Microsoft.Extensions.Hosting
@inject IHostEnvironment Env

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Telerik UI for Blazor Dashboard Sample App</title>
	<base href="/blazor-dashboard-app/" />
	<link href="favicon.ico" rel="icon" type="image/x-icon" />
	<link id="theme" href="https://blazor.cdn.telerik.com/blazor/8.1.0/kendo-theme-bootstrap/all.css" rel="stylesheet" />
	<link href="css/styles.css" rel="stylesheet" />
	<!-- Trial script file -->
	<!-- If you are using a commercial license, replace the telerik-blazor.js script tag with the one commented below. -->

	<script src="_content/Telerik.UI.for.Blazor.Trial/js/telerik-blazor.js" defer></script>

	<!-- /Trial script file -->
	<!-- Commercial script file -->
	<!--<script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js" defer></script>-->
	<!-- /Commercial script file -->

	<HeadOutlet @rendermode="@RenderMode.InteractiveServer" />
</head>
<body>
	<app id="app" class="app container-fluid"><Routes @rendermode="@RenderMode.InteractiveServer" /></app>

	<div id="blazor-error-ui" class="alert alert-warning">
		@if (Env.IsDevelopment())
		{
			<text>An unhandled exception has occurred. See browser dev tools for details.</text>
		}
		else
		{
			<text>An error has occurred. This application may no longer respond until reloaded.</text>
		}
		<div class="pt-3">
			<a href class="reload k-button">Reload</a>
		</div>
	</div>

	<script src="_framework/blazor.web.js" autostart="false"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			Blazor.start();
		});
	</script>
</body>
</html>
