@page "/textbox/index"

@using TelerikBlazor.Shared

<EditForm Model="@person">
    <DataAnnotationsValidator />
    <TelerikTextBox bind-Value="@person.Name" Label="First Name"></TelerikTextBox>
    <ValidationMessage For="@(() => person.Name)"></ValidationMessage>

    <button class="k-button" type="submit">Submit</button>
</EditForm>


@functions  {
    Person person = new Person() {
        HireDate = new DateTime(2017, 10, 10),
        GraduateGrade = 5,
        AgeInYears = 20,
        EmployeeId = 1,
        MeetingDate = new DateTime(2019, 03, 03)
    };
}