@page "/textbox/index"

@using TelerikBlazor.Shared

<h4>Floating label</h4>

<TelerikTextBox Label="First Name"></TelerikTextBox>

<h4>Length Restriction</h4>

<p>
    Text is restricted to 10 characters
</p>
<TelerikTextBox MaxLength="10"></TelerikTextBox>

<h4>Disabled TextBox</h4>

<TelerikTextBox Enabled="false" Value="Disabled"></TelerikTextBox>
