<TelerikButton Icon=@IconName.Window OnClick=@(()=> WindowVisible = true)>Open Modal</TelerikButton>

<TelerikRootComponent>
    <TelerikWindow Class="demo-window" Width="500px" Height="300px" Centered="true" Visible=@WindowVisible Modal="true">
        <WindowTitle>
            <strong>Modal Window</strong>
        </WindowTitle>
        <WindowActions>
            <WindowAction Name="Close" />
        </WindowActions>
        <WindowContent>
            <p>Click the close button to dismiss this modal dialog.</p>
        </WindowContent>
    </TelerikWindow>
</TelerikRootComponent>

@code {

    protected bool WindowVisible { get; set; }

    protected override void OnInitialized()
    {
        WindowVisible = false;
    }
}


<style type="text/css">
    .demo-window {
        z-index: 44444;
    }
</style>