@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

a {
    color: #00b5dc;
}

a:hover {
    color: #2f8eb8;
}

app {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.top-row {
    min-height: 3.5rem;
    background-color: #f3f4f5;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-shadow: 0 0 6px #f3f4f5;
    -moz-box-shadow: 0 0 6px #f3f4f5;
    box-shadow: 0 0 6px #f3f4f5;
}

.main-content {
    position: relative;
    overflow: hidden;
}

.main {
    overflow-x: auto;
    overflow-y: auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.main h4 {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.toggle-mobile {
    margin-right: auto;
    line-height: 3rem;
}

.toggle-mobile span {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #4b4e52;
}

.toggle-mobile span:before,
.toggle-mobile span:after {
    display: block;
    content: " ";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #4b4e52;
}

.toggle-mobile span:before {
    top: -6px;
}

.toggle-mobile span:after {
    bottom: -6px;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    height: 100%;
    position: absolute;
    background-color: #e8ecef;
    z-index: 9;

    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    -webkit-transition: -webkit-transform .2s ease-out;
    -ms-transition: -ms-transform .2s ease-out;
    transition: transform .2s ease-out;
}

.sidebar.toggled {
    -webkit-transform: translateX(0);
    transform: translateX(0);

    -webkit-box-shadow: 5px 0 15px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 5px 0 15px 0 rgba(0,0,0,.15);
    box-shadow: 5px 0 15px 0 rgba(0,0,0,.15);

    -webkit-transition: -webkit-transform .2s ease-out;
    -ms-transition: -ms-transform .2s ease-out;
    transition: transform .2s ease-out;
}

.sidebar .top-row {
    background-color: rgba(22,36,50,.05);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 1rem;
    font-size: 0.6rem;
    vertical-align: middle;
    top: -2px;
}

.nav > .nav-item {
    padding-left: 2rem;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.7rem;
}

.component {
    font-size: 1rem;
    cursor: pointer;
}

.component .k-icon {     
    opacity: 0.7;
    margin-left: -1em;
}

.component.expanded {
    font-weight: 600;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    display: flex;
    display: -ms-flexbox;

    color: #555555;
    padding-left: 1rem;
    align-items: center;
}

.nav-item a.active,
.nav-item a:hover,
.nav-item .component > a:hover {
    color: #00b5dc;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

div .k-button {
    margin-right: 1rem;
}

.nav-btn {
    height: 3.5rem;
    line-height: 2.5rem;
    text-transform: uppercase;
}

.btn-accent {
    background-color: #00b5dc;
    color: #fff;
}

.btn-accent:hover {
    background-color: #2f8eb8;
    color: #fff;
}

/* Theme chooser styles */
.theme-chooser-wrapper {
    position: relative;
}

.theme-chooser-toggle-btn {
    min-width: 10.5rem;
    padding-right: 2rem;
    position: relative;
}

.theme-chooser-toggle-btn:hover {
    background-color: #e2e4e7;
    cursor: pointer;
}

.theme-chooser-toggle-btn .k-icon {
    position: absolute;
    right: 1rem;
    top: 50%;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.theme-chooser-dropdown {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    background-color: #fff;
    z-index: 2;

    -webkit-box-shadow: 0 0 6px #e2e4e7;
    -moz-box-shadow: 0 0 6px #e2e4e7;
    box-shadow: 0 0 6px #e2e4e7;
}

.theme-chooser-dropdown ul li {
    list-style-type: none;
    text-transform: uppercase;
}

.theme-chooser-dropdown ul li:hover {
    cursor: pointer;
    color: #00b5dc;
}

.theme-chooser-dropdown .k-icon {
    font-size: 1.5rem;
}

.theme-chooser-dropdown .theme-name {
    vertical-align: middle;
}

.theme-chooser-wrapper .theme-chooser-dropdown .triangle {
    overflow: hidden;
    background-image: linear-gradient(to right bottom, #fff 49%, #e8ecef 50%);
    height: 60px;
}

.theme-chooser-wrapper .theme-builder {
    background-color: #e8ecef;
    max-height: 50vh;
    height: 100px;
    text-align: center;
}

.theme-chooser-wrapper .theme-builder .theme-builder-title {
    text-transform: uppercase;
    font-weight: 600;
}

/* Sample code styles */
.code-sample {
    border: 1px solid #e8ecef;
}

.code-sample-tabs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: #f3f4f5;
}

.code-sample-tabs li {
    list-style-type: none;
    border-right: 1px solid #e8ecef;
}

.code-sample-tabs li:last-child {
    border-right: none;
}

.code-sample-tabs li .nav-link.active {
    color: #2f8eb8;
    font-weight: 600;
}


/* Components list styles */
.components-list .component-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.components-list a {
    color: inherit;
}

.components-list a:hover .component {
    color: #00b5dc;
}

.components-list .component {
    font-size: 1.2rem;
    font-weight: 600;
}

.components-list .short-description {
    color: #9098a5
}

.box-content {
    max-width: 400px;
    -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
    -moz-box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
    border: 1px solid rgba(20,53,80,0.14);
    padding: 3em;
}

.box-content h4 {
    font-size: 12px;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0.5em;
}

.box-content > h4:first-child {
    padding-top: 0;
}

.box-content p {
    margin-bottom: 0;
}

/* Code example prettyprint styles */
.prettyprint {
    font-size: 12px;
}

pre .nocode {
    background-color: transparent;
    color: #000;
}

pre .str, /* string */
pre .atv {
    color: #2db245;
}
/* attribute value */
pre .kwd {
    color: #ff3399;
}
/* keyword */
pre .com {
    color: #9933cc;
}
/* comment */
pre .typ {
    color: #000;
}
/* type */
pre .lit {
    color: #0099ff;
}
/* literal */
pre .pun {
    color: #333;
}
/* punctuation */
pre .pln {
    color: #3e526b;
}
/* plaintext */
pre .tag {
    color: #3e526b;
}
/* html/xml tag */
pre .atn {
    color: #3e526b;
}
/* attribute name */
pre .dec {
    color: #3e526b;
}
/* decimal */


@media (max-width: 767.98px) {
.top-row {
        display: none;
    }
}

@media (min-width: 768px) {

    .top-row {
        position: sticky;
        top: 0;
        z-index: 99999;
        flex-direction: row;
        -ms-flex-direction: row;
    }

    .main-content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .toggle-mobile {
        display: none;
    }

    .sidebar {
        position: static;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;

        -webkit-transform: translateX(0);
        transform: translateX(0);

        -webkit-box-shadow: 0 6px 0 0 #e8ecef;
        -moz-box-shadow: 0 6px 0 0 #e8ecef;
        box-shadow: 0 6px 0 0 #e8ecef;
    }

    .sidebar.toggled {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .logo {
        width: 250px;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .components-list .component-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media (min-width: 1024px) {
    .components-list .component-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}