@layout TelerikLayout

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
        </div>

        <TelerikNotification @ref="@NotificationReference" 
                             HorizontalPosition="@NotificationHorizontalPosition.Right"
                             VerticalPosition="@NotificationVerticalPosition.Top"
                             Class="big-notification">
        </TelerikNotification>
        <CascadingValue IsFixed="true" Value="@this">
            <div class="content px-4">
                @Body
            </div>
        </CascadingValue>
    </div>
</div>

@code{
    TelerikNotification NotificationReference { get; set; }

    public void ShowNotification(NotificationModel model)
    {
        NotificationReference?.Show(model);
    }
}

<style>
    .big-notification .k-notification-container .k-notification-wrap {
        width: 350px;
        height: 100px;
    }

    .big-notification {
        z-index: 1234;
    }
</style>