@page "/datepicker/index"
@using Telerik.Blazor.Components.DatePicker

<TelerikDatePicker Min="@Min" Max="@Max" ValueChanged="@ValueChanged"></TelerikDatePicker>

<div class="pt-4">The selected date is: @selectedDate?.ToShortDateString()</div>

@functions  {
    public DateTime Max = new DateTime(2050, 12, 31);
    public DateTime Min = new DateTime(1950, 1, 1);
    private DateTime? selectedDate;

    protected void ValueChanged(DateTime newValue)
    {
        selectedDate = newValue;
    }
}