<svg width="52" height="32" viewBox="0 0 52 32" fill="none" xmlns="http://www.w3.org/2000/svg" role="img">
    <title>Visa card payment</title>
    <g clip-path="url(#clip0_1692_11727)">
        <path d="M49.92 0H2.08C0.931248 0 0 0.955126 0 2.13333V29.8667C0 31.0449 0.931248 32 2.08 32H49.92C51.0688 32 52 31.0449 52 29.8667V2.13333C52 0.955126 51.0688 0 49.92 0Z" fill="#26337A" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5748 21.0917L23.1738 10.9189H25.7296L24.1306 21.0917H21.5748ZM33.4012 11.168C32.8957 10.9643 32.1012 10.7413 31.1111 10.7413C28.5839 10.7413 26.8055 12.1221 26.7909 14.0987C26.7748 15.5611 28.0597 16.3765 29.029 16.8624C30.0248 17.3611 30.3597 17.6795 30.3555 18.1253C30.3488 18.8064 29.5604 19.1184 28.8257 19.1184C27.8028 19.1184 27.2589 18.9648 26.4181 18.5851L26.09 18.4229L25.7322 20.7003C26.3281 20.9835 27.4326 21.2293 28.5797 21.2427C31.265 21.2427 33.0101 19.8784 33.0304 17.7675C33.0398 16.608 32.3586 15.7291 30.8838 15.0037C29.9905 14.5317 29.4424 14.2197 29.4486 13.7419C29.4492 13.3195 29.9114 12.8667 30.913 12.8667C31.5707 12.8514 32.2237 12.9849 32.8255 13.2576L33.0548 13.3739L33.4012 11.168ZM36.804 17.4848C37.0162 16.9003 37.8222 14.6416 37.8222 14.6416C37.8076 14.6683 38.0328 14.0523 38.1618 13.6709L38.3344 14.5483C38.3344 14.5483 38.8248 16.9765 38.9262 17.4848H36.804ZM39.9573 10.9291H37.9818C37.3693 10.9291 36.9106 11.1093 36.6423 11.7723L32.8468 21.0949H35.5316C35.5316 21.0949 35.9694 19.8411 36.0688 19.5659C36.3615 19.5659 38.9704 19.5712 39.3422 19.5712C39.4186 19.9259 39.6536 21.0955 39.6536 21.0955H42.0254L39.9573 10.9291ZM19.4308 10.9275L16.9296 17.8629L16.6613 16.4528C16.1949 14.8288 14.7441 13.0683 13.1212 12.1861L15.4092 21.0827L18.1142 21.0811L22.139 10.9275H19.4308Z" fill="#FFFFFE" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6068 10.9205H10.4858L10.452 11.1312C13.6588 11.9738 15.7804 14.008 16.6608 16.4528L15.7659 11.7786C15.6109 11.1338 15.1622 10.9429 14.6073 10.92" fill="#EC982D" />
    </g>
    <defs>
        <clipPath id="clip0_1692_11727">
            <rect width="52" height="32" fill="white" />
        </clipPath>
    </defs>
</svg>
