@using appointment_context_menu.Models
@using appointment_context_menu.Services

@inject AppointmentService ApptService

<div style="height:100%">
    <div style="height:100%" class="k-event-template">@Appointment.Title 
    <button @onclick="@( () => DeleteAppt(Appointment) )">Delete</button>
    </div>
   
</div>


@code{
    [Parameter]
    public SchedulerAppointment Appointment { get; set; }

    [Parameter]
    public EventCallback OnUpdateHappened { get; set; }

    async Task DeleteAppt(SchedulerAppointment appt)
    {
        if (appt.IsImportant)
        {
            return;
        }
        await ApptService.DeleteAsync(appt);
        await OnUpdateHappened.InvokeAsync();
    }
}