@inject ITelerikStringLocalizer L

<div class="settings-container">
    <label class="k-label k-form-label" for="language">
        @L["LanguageChooser_SelectLanguage"]
    </label>
    <ThemeChooser></ThemeChooser>
    <CultureChooser />
    <a href="/blazor-coffee/profile" alt="go to profile">
        <Avatar></Avatar>
    </a>
</div>
