@inject ITelerikStringLocalizer L

<div class="settings-container">
    <ThemeChooser></ThemeChooser>
    <CultureChooser />
    <a href="/blazor-coffee/profile" alt="go to profile">
        <Avatar></Avatar>
    </a>
</div>
